{
    "presets": [
        [
            "@babel/preset-env"
            // {
                // "modules": false,
                // "loose": true
                // "useBuiltIns": "entry"  /// npm install --save core-js@2    npm install --save core-js@3
            // }
        ],
        [
            "@babel/preset-react",
        {
            "runtime": "automatic"
        }
    ],
    "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/plugin-transform-runtime"
            // { // default options
            //   "absoluteRuntime": false,
            //   "corejs": false,
            //   "helpers": true,
            //   "regenerator": true
            //   "version": "7.0.0-beta.0"
            // }
        ]
    ]
}