@import 'mixins';

.friendspage {
  main {
    .friends_links {
      display              : grid;
      grid-template-columns: auto auto auto;
      gap                  : 25px 49px;
      margin-bottom        : 36px;

      img {
        box-sizing   : border-box;
        width        : 280px;
        height       : 135px;
        border       : 0.500532px solid rgba(59, 59, 59, 0.25);
        box-shadow   : 0px 8.00852px 12.0128px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background   : #ffffff;
        transition   : box-shadow 0.4s;

        @media (min-width: 992px) {
          &:hover {
            cursor    : pointer;
            box-shadow: 0px 7.9574px 11.9361px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}